<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string name="title">Settings</string>
    <string name="language">Language</string>
    <string name="protect">Protect</string>
    <string name="pin_code">Pin Code</string>
    <string name="currencies">Currencies</string>
    <string name="import_title">Import Data</string>
    <string name="import_summary">Select a source to import your data</string>
</resources>