<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string name="title">Настройки</string>
    <string name="language">Язык</string>
    <string name="protect">Защита</string>
    <string name="pin_code">PIN-код</string>
    <string name="currencies">Валюты</string>
    <string name="import_title">Импорт</string>
    <string name="import_summary">Выберите источник импорта данных</string>
</resources>